*{
    padding: 0;
    margin: 0;
    font-family: 'Abel', sans-serif;
}
body{
   background-color: aliceblue; 
}
#header{
    text-align: center;
    padding: 2% 0;
}
#name{
    margin-top: 2%;
}
#header img{
    width: 10%;
    border-radius: 10%;    
}
#header span{
    opacity: 0.5;
    text-decoration: underline;
}

#content{
    padding: 1% 5%;
}
#content p {
    text-align: justify; 
}
footer {
    background-color: #123456;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1% 0;
}
footer a{
    color: white;
    text-decoration: none;
    margin: 1%;
}